#icon-bar {
animation: slide 10s linear backwards infinite;
  will-change: transform;
}

@keyframes slide {
from {
    transform: translate(-150%, 0) scale(2.2);
    
  }
  to{
    transform: translate(100%, 50px) scale(0.3) rotate(10deg);
  }
}