@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.outline-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#fish {
  animation: swim 10s linear backwards infinite;
  will-change: transform;
  opacity: 0;
}

@media only screen and (min-width: 301px) and (max-width: 350px) {
  #fish {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (min-width: 225px) and (max-width: 300px) {
  #fish {
    width: 10px;
    height: 10px;
  }
}

@keyframes swim {
  0% {
    opacity: 100%;
    transform: translate(-100%, 0) rotate(-3deg);
  }
  10% {
    transform: translate(-80%, -20%) rotate(0deg);
  }
  20% {
    transform: translate(-60%, 0) rotate(-3deg);
  }
  30% {
    transform: translate(-40%, -20%) rotate(0deg);
  }
  40% {
    transform: translate(-20%, 0) rotate(-3deg);
  }
  50% {
    transform: translate(0, -20%) rotate(0deg);
  }
  60% {
    transform: translate(20%, 0) rotate(-3deg);
  }
  70% {
    transform: translate(40%, -20%) rotate(0deg);
  }
  80% {
    opacity: 100%;
    transform: translate(60%, 0) rotate(-3deg);
  }
  90% {
    transform: translate(80%, -20%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(100%, 10%);
  }
}
