#fish {
    animation: swim 15s linear backwards infinite;
    will-change: transform;
}

@keyframes swim {
    0% {
        transform: translate(0, 0) rotate(-8deg);
    }
    50% {
transform: translate(100%, 10px) rotate(40deg);
    }
    100% {
        transform: translate(100%, 20px) rotate(60deg);
    }
}

/* @media only screen and (max-width: 400px) {
  #fish {
    top: 80px;
    right: 66px;
  }
} */