#fish {
    animation: swim 10s linear backwards infinite;
    will-change: transform;
}

@keyframes swim {
    0% {
        transform: translate(-20%, 0) rotate(-6deg);
    }
      20% {
        transform: translate(0%, -20%);
    }
    40% {
transform: translate(20%, 0) rotate(6deg);
    }
    60% {
transform: translate(40%, -20%);
    }
    80% {
transform: translate(60%, 0) rotate(-6deg);
    }
    100% {
        transform: translate(80%, -20%);
    }
}

@media only screen and (max-width: 300px) {
  #fish {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 350px) {
  #fish {
    width: 15px;
    height: 15px;
  }
};

.logo {
  color: rgb(255, 255, 255);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

